@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --transition: all 0.3s ease;
    --transition-default: 0.3s all ease-in-out;
    --font-theme: "Nunito Sans", sans-serif;
    --font-heading: "Libre Caslon Text", serif;
    --size-theme: 15px;


    /* Color Base */
    --primary-color: #130654;
    --primary-hover: #130654;
    --primary-rgb: 19, 6, 84;

    --secondary-color: #f7931d;
    --secondary-hover: #f7931d;
    --secondary-rgb: 247, 147, 29;

    --dark-color: #111215;
    --dark-900: #1C1E23;
    --dark-800: #32353E;
    --dark-700: #494D5A;
    --dark-600: #5F6475;
    --dark-500: #767C90;
    --dark-400: #9196A6;
    --dark-300: #ADB1BC;

    --bg-light: #F8F8F9;
    --text-color: #666;
}

body {
    position: relative;
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-theme);
    font-size: var(--size-theme);
    font-weight: 400;
    font-style: normal;
    background-color: var(--bs-white);
    line-height: 28px;
    overflow-x: hidden !important;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

button,
button:hover,
button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
    cursor: pointer !important;
}

input,
select,
textarea {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    outline: none !important;
    border-color: var(--secondary-color) !important;
}

.transition-default {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

.background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.object-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.object-fit-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.pseudo {
    position: relative;
}

.pseudo:before,
.pseudo:after {
    position: absolute;
    content: '';
    display: block;
}

.zi--1 {
    z-index: -1;
}

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-4 {
    z-index: 4;
}

.zi-5 {
    z-index: 5;
}

.zi-10 {
    z-index: 10;
}

.ratio > img {
    -o-object-fit: cover;
    object-fit: cover;
}

.ratio-2x1 {
    --bs-aspect-ratio: 50%;
}

.ratio-3x2 {
    --bs-aspect-ratio: calc(2 / 3 * 100%);
}

.gap-5px {
    gap: 5px;
}

.gap-10px {
    gap: 10px;
}

.gap-15px {
    gap: 15px;
}

.gap-20px {
    gap: 20px;
}

.gap-25px {
    gap: 25px;
}

.gap-30px {
    gap: 30px;
}

.link-default {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}

.link-default:active {
    color: var(--primary-color);
}

.flex-same {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 0px !important;
    flex: 1 1 0 !important;
}

.fz-10 {
    font-size: .7em;
}

.fz-11 {
    font-size: .775em;
}

.fz-12 {
    font-size: .85em;
}

.fz-13 {
    font-size: .925em;
}

.fz-14 {
    font-size: 1em;
}

.fz-15 {
    font-size: 1.075em;
}

.fz-16 {
    font-size: 1.15em;
}

.fz-17 {
    font-size: 1.225em;
}

.fz-18 {
    font-size: 1.3em;
}

.fz-19 {
    font-size: 1.375em;
}

.fz-20 {
    font-size: 1.45em;
}

.fz-21 {
    font-size: 1.525em;
}

.fz-22 {
    font-size: 1.6em;
}

.fz-23 {
    font-size: 1.675em;
}

.fz-24 {
    font-size: 1.75em;
}

.fz-inherit {
    font-size: inherit !important
}

.color-inherit {
    color: inherit !important
}

.primary-color {
    color: var(--primary-color);
}

.dark-color {
    color: var(--dark-color);
}

.dark-color_900 {
    color: var(--dark-900);
}

.dark-color_800 {
    color: var(--dark-800);
}

.dark-color_700 {
    color: var(--dark-700);
}

.dark-color_600 {
    color: var(--dark-600);
}

.dark-color_500 {
    color: var(--dark-500);
}

.dark-color_400 {
    color: var(--dark-400);
}

.dark-color_300 {
    color: var(--dark-300);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.mw-25px {
    min-width: 25px !important;
}

.mw-50px {
    min-width: 50px !important;
}

.mw-75px {
    min-width: 75px !important;
}

.mw-100px {
    min-width: 100px !important;
}

.overflow-y {
    overflow-y: auto !important;
}

.overflow-y::-webkit-scrollbar,
.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    display: none;
    opacity: 0;
    visibility: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.p-30 {
    padding: 30px 0;
}

.p-40 {
    padding: 40px 0;
}

.p-50 {
    padding: 50px 0;
}

.font-heading {
    font-family: var(--font-heading);
}

.limit-1 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.limit-2 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.limit-3 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.limit-4 {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.button-primary {
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-transform: uppercase;
    max-width: 350px;
    width: 100%;
    font-weight: 700;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    white-space: nowrap;
    transition: var(--transition-default);
}

.button-primary:hover {
    opacity: 0.85;
    color: var(--secondary-color);
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgb(0 0 0 / 0%), rgba(0, 0, 0, 0)) !important;
}

.swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgba(0, 0, 0, 0)) !important;
}

.text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.animation-bg {
    animation: 25s animation-bg infinite;
}

@keyframes animation-bg {
    0% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    30% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    80% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    100% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.padding-xxl {
    padding: 350px 0 180px !important;
}

.padding-xl {
    padding: 350px 0 80px !important;
}

.padding-20 {
    padding: 20px 0;
}

.padding-30 {
    padding: 30px 0;
}

.padding-40 {
    padding: 40px 0;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.shadow-1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) !important;
}

.border-secondary {
    border-color: var(--secondary-color) !important;
}


main {
    margin-top: -120px;
}

@media (max-width: 992px) {
    .padding-xxl {
        padding: 240px 0 120px !important;
    }

}

@media (max-width: 576px) {
    .padding-xl {
        padding: 240px 0 50px !important;
    }

}