.section-heading {
    margin-bottom: 30px;
}

.section-heading .heading-title {
    font-family: var(--font-heading);
    font-weight: 800;
    color: var(--bs-gray-900);
}

.section-heading .heading-subtitle {
    font-weight: 600;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.heading-tile__line {
    padding-bottom: 20px;

}

.heading-tile__line::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 10%;
    height: 2px;
    background-color: var(--secondary-color);
}

.heading-desc {
    margin-top: 30px;
}

.link-custom {
    position: relative;
    padding-bottom: 6px;
    color: var(--bs-gray-900);
    font-weight: 700;
    text-transform: capitalize;
    transition: var(--transition-default);
    font-size: 1.1em;
    width: max-content;
    display: block;
    overflow: hidden;
}

.link-custom::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: var(--secondary-color);
    -webkit-transition: all 400ms cubic-bezier(.645, .045, .355, 1);
    transition: all 400ms cubic-bezier(.645, .045, .355, 1);
}

.link-custom::after {
    position: absolute;
    content: '';
    left: -100%;
    width: 30%;
    height: 2px;
    bottom: 0;
    background-color: var(--secondary-color);
    -webkit-transition: all 400ms cubic-bezier(.645, .045, .355, 1);
    transition: all 400ms cubic-bezier(.645, .045, .355, 1);
}

.link-custom:hover {
    color: var(--primary-color);
}

.link-custom:hover::before {
    left: 100%;
}

.link-custom:hover::after {
    left: 0;
}

/*==================================
         header
=====================================*/
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.header-top ul > li > a {
    padding: 10px 0;
    font-size: 16px;
}

.header-top .header-phone {
    padding: 10px 0;
    font-size: 16px;
}

.header-top .header-phone:hover {
    color: var(--secondary-color);
}

.header-top .header-language {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
}

.header-top .header-language > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header-top__logo {
    width: 170px;
}

.header-top__logo > img {
    width: 100% !important;
    height: auto !important;
}

.header-top__bars {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: var(--primary-color);
    border-radius: 2px;
    border: 1px solid transparent;
}

.header-top__bars > span {
    width: 25px;
    height: 2px;
    background-color: var(--bs-white);
    transition: var(--transition-default);
}

.header-bottom__logo {
    width: 220px;
}

.header-bottom__logo > img {
    width: 100% !important;
    height: auto !important;
}

.header-bottom__wrap {
    border-bottom: 1px solid var(--bs-white);
}

.header-navigation ul > li > a {
    color: var(--bs-white);;
    transition: var(--transition-default);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.25em;
    font-weight: 500;
    white-space: nowrap;
}

.header-line {
    position: absolute;
    left: 0;
    width: 120px;
    top: 100%;
    display: flex;
    height: 2px;
    background-color: var(--secondary-color);
    transition: var(--transition-default);
}

.is-scroll .header-top {
    display: none !important;
}

.is-scroll header {
    position: fixed;
    background-color: rgba(72, 76, 84, .8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    animation: stickySlideDown 1s cubic-bezier(0.23, 1, 0.32, 1) both;
    padding: 10px 0;
}

@keyframes stickySlideDown {

    0% {
        transform: translateY(-120%);
    }
    100% {
        transform: translateY(0);
    }
}

.is-scroll .header-bottom__wrap {
    border-bottom: 1px solid transparent;
}

@media (max-width: 1200px) {
    .header-top {
        padding: 10px 0;
    }
}


/*======================================
        search-header
==========================================*/
.search-heading__title {
    font-family: var(--font-heading);
    font-weight: 800;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    margin-bottom: 30px;
    font-size: 4em;
}

.search-heading__text {
    font-size: 1.4em;
    font-family: var(--font-heading);
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.section-search__form .form-control {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgba(255, 255, 255, .8);
    padding: 20px 10px 20px 70px;
    color: var(--bs-white);
    font-size: 1.25em;
    border-radius: 0;

}

.section-search__form .form-control::placeholder {
    color: var(--bs-gray-300);
    font-weight: 300;
}

.section-search__form button {
    width: 65px;
    height: 100%;
}

.section-search__result {
    height: 300px;
    overflow-y: scroll;
    -webkit-box-shadow: 0 0 2px 0 rgba(30, 30, 30, .4);
    box-shadow: 0 0 2px 0 rgba(30, 30, 30, .4);
    transition: var(--transition-default);
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.is-result-search .section-search__result {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.section-search__result > li:not(:last-child) {
    border-bottom: 1px solid var(--bs-gray-200);
}

.section-search__result > li > a {
    padding: 14px 16px;
    color: var(--bs-gray-800);
    font-size: 1.1em;
}

.section-search__result > li > a .search-item__icon {
    width: 25px;
}

.search-heading__bottom > a {
    font-size: 1.2em;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--secondary-color);
}

@media (max-width: 1024px) {
    .search-heading__title {
        font-size: 3em;
    }

    .section-search__form .form-control {
        padding: 12px 10px 12px 70px;
        font-size: 1.1em;
    }
}

@media (max-width: 992px) {
    .search-heading__title {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .search-heading__bottom > a {
        font-size: 1em;
    }

    .section-search__result > li > a {
        padding: 6px 12px;
        color: var(--bs-gray-800);
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .search-heading__title {
        font-size: 1.5em;
    }
}

/*======================================
        section-hero
==========================================*/
.section-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .25);
    height: 100%;
    z-index: 3;
}

.section-hero__item img {
    width: 100%;
    height: auto;
}

.animation-image {
    -webkit-animation: 12s animation-slider infinite;
    animation: 12s animation-slider infinite;
}

@-webkit-keyframes animation-slider {
    0% {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
    50% {
        -webkit-transform: scale(1.01);
        transform: scale(1.01);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes animation-slider {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*======================================
        section-hero
==========================================*/
.card-introduce__image > img {
    width: 100% !important;
    height: auto !important;
}

.swiper-button__custom {
    width: 45px;
    height: 45px;
    border: 1px solid transparent;
}

.section-introduce__swiper .swiper-button__prev {
    left: 410px;
}

.section-introduce__swiper .swiper-button__next {
    right: 410px;
}

.box-item__image {
    width: 150px;
    height: 150px;
}

.box-item__image > img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}

@media (max-width: 1024px) {
    .box-item__image {
        width: 120px;
        height: 120px;
    }

    .box-item__title {
        font-size: 1em;
    }

    .section-introduce__swiper .swiper-button__prev {
        left: 215px;
    }

    .section-introduce__swiper .swiper-button__next {
        right: 215px;
    }
}

@media (max-width: 992px) {
    .section-introduce__swiper .swiper-button__prev {
        left: 150px;
    }

    .section-introduce__swiper .swiper-button__next {
        right: 150px;
    }
}

@media (max-width: 576px) {
    .box-item__image {
        width: 90px;
        height: 90px;
    }

    .box-item__title {
        font-size: 0.85em;
    }

    .section-introduce__swiper .swiper-button__prev,
    .section-introduce__swiper .swiper-button__next {
        display: none !important;
    }
}


/*======================================
        card holiday
==========================================*/
.card-holiday__layer {
    height: 99%;
}

.card-holiday__layer:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    opacity: 1;
    z-index: 0;
    transition: var(--transition-default);
}

.card-holiday:hover .card-holiday__layer {
    height: calc(100% - 48px);
}

.card-holiday__type {
    width: max-content;
}

.card-holiday__image > img {
    width: 100% !important;
    height: auto !important;
}

.card-holiday__content {
    color: var(--bs-gray-500);
}

.card-holiday__category {
    font-size: 0.85em;
}

.card-holiday__meta {
    padding-top: 8px;
    margin-top: 10px;
    border-top: 1px solid var(--bs-gray-500);
}
.card-holiday__link{
    height: 48px;
}
.card-holiday__desc {
    height: 0;
}

.card-holiday:hover .card-holiday__desc {
    height: auto;
}

.card-holiday:hover .card-holiday__image > img {
    transform: scale(1.1);
}

.section-holiday__column .swiper-button__prev {
    left: 320px;
    top: 50%;
    z-index: 3;
}

.section-holiday__column .swiper-button__next {
    right: -20px;
    top: 50%;
    z-index: 3;
}
.section-holiday__type .section-holiday__column .swiper-button__prev{
    left: -20px;
    top: 50%;
    z-index: 3;
}
.section-holiday__type .section-holiday__column .swiper-button__next{
    right: 320px;
    top: 50%;
    z-index: 3;
}


@media (max-width: 1024px) {
    .section-holiday .swiper-button {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .card-holiday__name {
        font-size: 1.1em;
    }

    .card-holiday__category {
        font-size: 0.8em;
    }
    .card-holiday__desc{
        font-size: 0.9em;
    }
    .card-holiday__link{
        font-size: 0.85em;
    }
}
@media(max-width: 320px) {
    .card-holiday__meta{
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        gap: 5px !important;
    }
}